@import "mcc-grid-system-common";

@mixin col($ratio, $ncols, $pos: not-last, $gutter: $mcc-grid-system-gutter) {
    @if $pos == last {
        margin-right: 0;
    } @else {
        margin-right: $gutter;
    }
    width: span($ratio, $ncols, $gutter);
    display: inline-block;
    vertical-align: top;
}
