@import "mcc-grid-system-common";

@mixin float-col($ratio, $ncols, $pos: not-last, $gutter: $mcc-grid-system-gutter) {
    @if $pos == last {
        float: right;
        margin-right: 0;
    } @else {
        float: left;
        margin-right: $gutter;
    }
    width: span($ratio, $ncols, $gutter);
}

@mixin float-cf {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
